.logo-loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Highlight animation for the teal paths */
  .path-animation {
    stroke-dasharray: 100; /* Adjust based on the actual length of the path */
    stroke-dashoffset: 100; /* Adjust based on the actual length of the path */
    animation: highlight-animation 1s infinite linear;
  }
  
  @keyframes highlight-animation {
    0% {
      stroke-dashoffset: 100;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }